

<p>
  <strong>Name: <%= @status.user.full_name %></strong>

</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>
  <% if @status.document  %>
    <span class='label label-info'> Attachment </span>
      
  <% end %>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
